spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/delivery_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: pwd

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
